[Unit]
Description=Mingda AI Helper Service
After=network.target

[Service]
Type=simple
User=mingda
WorkingDirectory=/home/mingda/mingda_ai_helper
Environment="PATH=/usr/local/go/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
Environment="GOPATH=/home/mingda/go"
ExecStart=/home/mingda/mingda_ai_helper/mingda_ai_helper
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target