[Unit]
Description=Mingda AI Helper Service
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/mingda_ai_helper
ExecStart=/opt/mingda_ai_helper/mingda_ai_helper
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target 